.todo-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: white;
}

.todo-item__title
{
    color: black;
    font-size: 18px;
    font-weight: 500;
    /* width: 100px; */
    /* justify-content: center; */
}

.todo-item__btnEdit
{
    color: whitesmoke;
    background: rgb(209, 209, 35);
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.todo-item__btnDelete
{
    color: whitesmoke;
    background: rgb(223, 12, 12);
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}


.todo-item__save
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: white;
}

.todo-item__btnSave
{
    color: whitesmoke;
    background: rgb(32, 187, 32);
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* Checkbox element, when checked */
input[type="checkbox"]:checked + li
{
    text-decoration: line-through;
    background-color: rgb(32, 187, 32);
}